.allprojects{
    margin-left: 16%;
    margin-top: 9%; 
}




.heading{
    color: #97144d;
    font-size: 25px;
    font-weight: 700;
    /* padding: 15px 15px 0px 0px; */

}
.cards{
    transition: all 0.2s ease;
    cursor: pointer;
  }
    


.cards:hover{

    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}