.newsfeed{
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 7%; 
}
.heading{
    color: #97144d;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 3%;
    /* padding: 15px 15px 0px 0px; */

}
.news{
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 10%;
    background-color: whitesmoke;
}
.description{

    
    
}

.img{
    width: 100%;
    height: 10%;
    padding-bottom: 2%;
    padding-top: 2%;
}










.ncrdSetup {
    border: 0px;
    background-color: #F0E5EB;
}
.display{
    display: flex;
    position: relative;
    margin-left: 11rem;
}
.btnStyle{
    border: 0px;
    background-color: transparent;
    font-size: large;
}


.bcolor{
    background-color: #F0E5EB;
    margin-bottom: 0.2rem;
}
.cwidth{
    width: 300rem;
}

