.profile{
    margin-left: 30%;
    margin-right: 15%;
    margin-top: 7%; 
}
.crd{
    border: 1px;

}
.img{
    margin-top: 5%;
    margin-left:40%;
    height:20%;
    width:20%;
}
.name{
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2%;
}
.id{
    margin-left: 23%;
    position: absolute;
    margin-bottom: 2%;
}
.colon{
    margin-left: 50%;
    position: absolute;
    margin-bottom: 2%;
}
.eid{
    margin-left: 65%;
    margin-bottom: 2%;
}